# Server
# Backend
PORT=1234
NODE_ENV=development
FRONTEND_URL=https://localhost:5173

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Root
DB_NAME=db_name
DB_PORT=3306

# JWT Secret key
JWT_SECRET=1234aboba

# Logs
LOG_LEVEL=info